{% load static %}

<!DOCTYPE html>
<html>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/css/rentcarcss.css' %}">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size: 16px;}
img {margin-bottom: -8px;}
.mySlides {display: none;}
</style>
<body class="w3-content w3-green" style="max-width:1500px;"  background="{% static '/img/cartest.jpg' %}" background-repeat: no-repeat; background-size:cover;>

<!-- Header with Slideshow -->
    <div class="w3-display-left w3-padding" >
      <div class="w3-black w3-hover-opacity-off w3-padding-large w3-round-large" style="position:relative; ">
    	<h1> Hello </h1>	
	    <p>You are not logged in</p>
	    <button><a href="{% url 'login' %}">login</a></button>
      </div>
    </div>
    
     <!-- <footer class="w3-container w3-padding-16 w3-center w3-xlarge footer" >
  <div class="w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer> -->
</body>
</html>
