{% load static %}
<!DOCTYPE html>
<html>
<title>RentCar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '/css/rentcarcss.css' %}">

<body class="w3-content w3-green" style="max-width:1500px;" background="{% static '/img/cartest.jpg' %}" background-repeat: no-repeat; background-size:cover;>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">username :  {{ user.username }} </a>
    </div>
    <ul class="nav navbar-nav" >
      <li><a href="{% url 'profile'%}">Home</a></li>
      <li class="active"><a href="#">Rent Car</a></li>
      <li><a href="{% url 'car'%}">Car Model</a></li>
      <!-- <li><a href="{% url 'logout'%}">logout</a></li> -->
    </ul>
    <a class="btn btn-danger navbar-btn" href=" {% url 'logout'%}">LogOut</a>
  </div>
</nav>
<!-- Header with Slideshow -->
    <div class="w3-display-left w3-padding " >
      <div class="w3-black ww3-hover-opacity-off w3-padding-large w3-round-large" style="position:relative; "> 
		{% if user.is_authenticated %}
			<!--  <h1>Hi {{ user.username }}!</h1><button class="button"><a href="{% url 'profile'%}">Back to profile.</a></button>
			   <br> -->
			  <h1>Rent</h1>
			  <!-- {% csrf_token %} -->
				<!-- {{ form.car.label_tag }} -->
				<!-- {{ form.car }} -->
				<!-- {{ form.fee.label_tag }}
				{{ form.fee }} -->

				<!-- {% for field in form %}
		      <p>
		        {{ field.label_tag }} {% if field.required %} * {% endif %} <br>
		        {{ field }}
		        {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %}
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		      </p>
		    {% endfor %} -->
			   {% load crispy_forms_tags %}
			  {% crispy form %}
			{% else %}
				 <p>You are not logged in</p>
		  		 <a href="{% url 'login' %}">login</a>
			{% endif %}
			<br>
      </div>
    </div>

<!--     <footer class="w3-container w3-padding-16 w3-center w3-xlarge footer" >
  <div class="w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer> -->
    
</body>
</html>
